<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Tapbar ด้านบน -->
    <div class="tapbar">
        <div class="left">
            <a href="{{ url_for('dashboard') }}">Home</a>
        </div>
        <div class="right">
            <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
    </div>
    <div class="container">
        <h1 class="title">Welcome, Student {{ first_name }} {{ last_name }}</h1>

        <!-- ไป Lab 1 และ Lab 2 -->
        <a href="{{ url_for('lab.lab1') }}" class="button">Lab 1</a>
        <br>
        <br>
        <a href="{{ url_for('lab2.lab2') }}" class="button">Lab 2</a>
        <br>
        <br>
        <a href="{{ url_for('lab3.lab3') }}" class="button">Lab 3</a>
        <br>
        <br>
        <a href="{{ url_for('lab4.lab4') }}" class="button">Lab 4</a>
        <br>
        <br>
        <a href="{{ url_for('lab5.lab5') }}" class="button">Lab 5</a>
        <br>
        <br>
        <a href="{{ url_for('lab6.lab6') }}" class="button">Lab 6</a>
        <br>
        <br>
        <a href="{{ url_for('lab7.lab7') }}" class="button">Lab 7</a>
        <br>
        <br>
        <a href="{{ url_for('lab8.lab8') }}" class="button">Lab 8</a>
        <br>
        <br>
        <a href="{{ url_for('lab9.lab9') }}" class="button">Lab 9</a>
        <br>
        <br>
        <a href="{{ url_for('lab10.lab10') }}" class="button">Lab 10</a>
        <br>
        <br>
        <a href="{{ url_for('lab11.lab11') }}" class="button">Lab 11</a>
        <br>
        <br>
        <a href="{{ url_for('lab12.lab12') }}" class="button">Lab 12</a>
        <br>
        <br>
        <a href="{{ url_for('lab13.lab13') }}" class="button">Lab 13</a>
        <br>
        <br>
        <a href="{{ url_for('lab14.lab14') }}" class="button">Lab 14</a>
        <br>
        <br>
        <a href="{{ url_for('lab15.lab15') }}" class="button">Lab 15</a>
        <br>
        <br>
        <a href="{{ url_for('lab16.lab16') }}" class="button">Lab 16</a>

        <!-- Logout -->
        <br><br>
        <a href="{{ url_for('logout') }}" class="button logout-btn">Logout</a>
    </div>
</body>
</html>
